.dinning_start_title{
    font-family: var(--neue-font);
    font-size: 24px;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 70px;
}
.dinning_example_title{
    font-family: var(--neue-font);
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.dinning_example_text{
    font-family: var(--mon-font);
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}
.dinning_example_image{
    width: 100%;
    height: auto;
}
.dinning_example_item{
    max-width: 408px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.dinning_example_box{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.dinning_carusel_name{
    font-style: italic;
    font-size: 18px;
    font-family: var(--mon-font);
}
.dinning_carusel_title{
    font-family: var(--neue-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.dinning_carusel_text{
    font-family: var(--mon-font);
    font-size: 15px;
    line-height: 25px;
}
.dinning_carusel{
    position: relative;
    max-width: 600px;
    margin: 0 auto;
}
.counter_box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    gap: 30px;
}
.dinning_carusel_item{
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dinning_carusel_image{
    width: 100%;
    height: auto;
}
.din_prev, .din_next{
    cursor: pointer;
}
.dinning_tea_title{
    font-weight: 200;
    font-size: 24px;
    font-family: var(--neue-font);
}
.dinning_tea_nam{
    font-weight: 700;
    font-size: 18px;
    font-family: var(--neue-font);
    margin-top: 10px;
}
.dinning_tea_text{
    font-weight: 400;
    font-size: 15px;
    font-family: var(--mon-font);
    line-height: 25px;
}
.dinning_tea_column_title{
    font-weight: 400;
    font-size: 22px;
    font-family: var(--mon-font);
    margin: 10px 0;
}
.dinning_tea_image{
    width: 100%;
    height: auto;
    transition: .5s;
}
.dinning_tea_image_box:hover .dinning_tea_image {
    transform: scale(1.1);
    cursor: grab;
}
.dinning_tea_image_box{
    max-width: 290px;
    overflow: hidden;
    max-height: 360px;
}
.dinning_tea_column{
    max-width: 290px;
}
.dinning_tea_content{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.dinning_tea_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}
.dinning_instagram_image{
    max-width: 210px;
    max-height: 210px;
}
.dinning_instagram_logo{
    width: 15px;
    height: 15px;
}
.dinning_instagram_profile{
    font-family: var(--neue-font);
    font-size: 10px;
    letter-spacing: 3px;
}
.dinning_instagram_content{
    display: flex;
    gap: 12px;
    align-items: center;
}
.dinning_instagram_column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dinning_instagram_box{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.dinning_instagram_description{
    font-family: var(--mon-font);
    font-size: 18px;
}
.dinning_instagram_title{
    font-family: var(--neue-font);
    font-size: 24px;
    letter-spacing: 2px;
    text-align: center;
}
.dinning_end_instagram_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}
@media screen and (max-width: 400px){
    .counter_box{
        margin-top: -50px;
    }
}
@media screen and (max-width: 240px){
    .counter_box{
        margin-top: 0;
    }
    .dinning_tea_title, .dinning_instagram_title{
        font-size: 18px;
        text-align: center;
    }
}