.gift_start_small_title{
    font-family: adobe-caslon-pro, serif;
    font-style: italic;
    font-size: 18px;
    font-weight: 700;
}
.gift_start_big_title{
    font-family: helveticaNeueThin, sans-serif;
    font-size: 70px;
    font-weight: 100;
    letter-spacing: 2px;
}
.gift_hr_block{
    width: 100px;
    height: 2px;
    background-color: #000;
}
.gift_start_title_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.gift_second_title_block_title, .gift_buy_title{
    font-family: "HelveticaNeueLight",sans-serif;
    font-size: 27px;
    font-weight: 300;
}
.gift_second_title_text, .gift_title_text{
    font-family: adobe-caslon-pro, serif;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
}
.gift_second_title_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.gift_card_buy{
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
    max-width: 670px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.gift_card_image{
    width: 100%;
    height: auto;
}
.gift_using_block{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 100px;
}
.gift_using_block_text{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.gift_using_title{
    font-family: "HelveticaNeueLight",sans-serif;
    font-size: 30px;
    font-weight: 300;
}
.gift_using_text{
    font-family: adobe-caslon-pro, serif;
    font-size: 17px;
    line-height: 25px;
}
.hid{
    display: none;
}
@media screen and (max-width: 540px){
    .gift_using_block_text{
        width: 90vw;
    }
    .gift_start_big_title{
        font-size: 40px;
        text-align: center;
    }
    .gift_start_small_title{
        text-align: center;
    }
    .gift_using_image{
        width: 100%;
        height: auto;
    }
    .gift_card_buy{
        padding: 10px 0;
    }
    .gift_using_block{
        gap: 20px;
    }
}
@media screen and (max-width: 300px){
    .gift_second_title_block_title, .gift_buy_title, .gift_using_title{
        font-size: 16px;
    }
    .gift_start_big_title{
        font-size: 24px;
    }
    .gift_start_small_title{
        font-size: 14px;
    }
    .gift_second_title_text, .gift_title_text, .gift_using_text{
        font-size: 12px;
        line-height: 18px;
    }
    .gift_second_title_block{
        padding: 20px 0;
    }
    .gift_using_block{
        margin-top: 30px;
    }
}