{% extends 'base.html' %}
{% load static %}
{% block title %}Password Change | Four Seasons{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
    <form method="post" class="login_form">
        {% csrf_token %}
        {{ form.username }}
            <div class="login_box">
                <span>{{ error_message }}</span>
                <div class="login_item_title">Password</div>
                <input type="password" class="resident_item" name="password1">
            </div>
            <div class="login_box">
                <div class="login_item_title">Confirm Password</div>
                <input type="password" class="resident_item" name="password2">
            </div>
        <button type="submit" class="rates_button">Edit</button>
    <span>or <a href="{% url 'logout' %}">logout</a></span>
    </form>
{% endblock %}
