{% extends 'base.html' %}
{% block title %}
    Four Seasons | Luxury Hotel Contact
{% endblock %}
{% block content %}
        <div class="history_start_title_box">
            <div class="history_start_italic_title">Four Seasons Contact</div>
            <div class="history_start_big_title">FOUR SEASONS CONTACT FORM</div>
        </div>
        <div class="flex_form_box">
        <form class="api_send_form" method="post">
        {% csrf_token %}
            <div class="name_box">
                {{ form.status }}
                {{ form.firstname }}
            </div>
            {{ form.lastname }}
            {{ form.email }}
            {{ form.phone }}
            {{ form.reservation }}
            {{ form.text }}
            <div class="resident_but_box">
                <button class="resident_button" type="submit">submit</button>
            </div>
        </form>
    </div>
{% endblock %}