{% extends 'base.html' %}
{% load static %}
{% block title %}Private Jet{% endblock %}
{% block content %}

    <div class="jet_first_content_box">
        <div class="jet_first_title">SAVOUR EACH MOMENT WHILE WE HANDLE THE REST</div>
        <div class="jet_first_text">From itinerary planning and dining reservations to luggage services and visas, we’ll see to it that every detail is taken care of, allowing you to focus on the true joys of travel.</div>
    </div>
    <div class="jet_first_columns_content">
        <div class="jet_first_column">
            <img src="{% static 'jet_page/11.jpg' %}" alt="" class="jet_first_column_image">
            <div class="jet_first_column_title">DOOR-TO-DOOR LUGGAGE</div>
            <div class="jet_first_column_text">Our dedicated Luggage Concierge ensures your suitcases are exactly where you need them to be, without you having to lift a finger.</div>
        </div>
        <div class="jet_first_column">
            <img src="{% static 'jet_page/12.jpg' %}" alt="" class="jet_first_column_image">
            <div class="jet_first_column_title">HASSLE-FREE SECURITY</div>
            <div class="jet_first_column_text">We assist with visas and travel forms, and make clearing security a breeze with private, expedited customs wherever possible.</div>
        </div>
        <div class="jet_first_column">
            <img src="{% static 'jet_page/13.jpg' %}" alt="" class="jet_first_column_image">
            <div class="jet_first_column_title">JOURNEY PHYSICIAN</div>
            <div class="jet_first_column_text">Enjoy peace of mind knowing that if any medical issue should arise throughout the trip, you’ll be under the capable care of a personal on-board doctor.</div>
        </div>
    </div>
    <div class="jet_second_content_box">
        <div class="jet_first_title">ENJOY FOUR SEASONS SERVICE EVERY STEP OF THE WAY</div>
        <div class="jet_first_text">With Four Seasons, no detail goes unnoticed. From perfecting your itinerary to preparing your morning coffee just the way you like it, we take care of it all – allowing you to sit back, relax and enjoy the journey.</div>
    </div>
    <div class="jet_second_columns_content">
        <div class="jet_second_column">
            <img src="{% static 'jet_page/21.jpg' %}" alt="" class="jet_first_column_image">
            <div class="jet_first_column_title">FIVE-STAR DINING</div>
            <div class="jet_first_column_text">When it comes to dining, we’re here to serve – from local restaurant recommendations to personalized in-flight meals to private dining experiences along the way.</div>
        </div>
        <div class="jet_second_column">
            <img src="{% static 'jet_page/22.jpg' %}" alt="" class="jet_first_column_image">
            <div class="jet_first_column_title">HASSLE-FREE SECURITY</div>
            <div class="jet_first_column_text">Be a resident of the world as you glide from one Four Seasons hotel to another, sleeping soundly in the same custom bed every night.</div>
        </div>
    </div>
    <div class="jet_second_content_box">
        <div class="jet_first_title">WELCOME TO YOUR HOTEL IN THE SKY</div>
        <div class="jet_first_text">Fly from one extraordinary destination to the next aboard the luxuriously appointed private jet, accompanied by an elite team of Four Seasons professionals who empower you to follow your passions.</div>
    </div>
    <div class="jet_luxury_box_big">
        <div class="jet_luxury_content">
            <div class="jet_luxury_title">Luxury at 40,000 feet</div>
            <div class="jet_luxury_hr"></div>
            <div class="jet_luxury_text">This state-of-the-art aircraft has been completely reimagined for the modern traveller, featuring a variety of handpicked amenities and presenting the same comfort and polished design found at our hotels and resorts.</div>
        </div>
        <img src="{% static 'jet_page/31.jpg' %}" alt="" class="jet_luxury_image">
    </div>
    <div class="jet_luxury_box_small">
        <img src="{% static 'jet_page/31.jpg' %}" alt="" class="jet_luxury_image">
        <div class="jet_luxury_content">
            <div class="jet_luxury_title">Luxury at 40,000 feet</div>
            <div class="jet_luxury_hr"></div>
            <div class="jet_luxury_text">This state-of-the-art aircraft has been completely reimagined for the modern traveller, featuring a variety of handpicked amenities and presenting the same comfort and polished design found at our hotels and resorts.</div>
        </div>
    </div>
    <div class="jet_luxury_box">
        <img src="{% static 'jet_page/41.jpg' %}" alt="" class="jet_luxury_image">
        <div class="jet_luxury_content">
            <div class="jet_luxury_title">On-board Executive Chef</div>
            <div class="jet_luxury_hr"></div>
            <div class="jet_luxury_text">With every stop comes inspiration. Working closely with each local Four Seasons culinary team, our on-board Executive Chef Kerry Sear calls on his decades of experience to create innovative in-flight menus that highlight regional flavours and specialties, using fresh ingredients gathered throughout the trip.</div>
        </div>
    </div>
    <div class="jet_luxury_box_big">
        <div class="jet_luxury_content">
            <div class="jet_luxury_title">Always at your service</div>
            <div class="jet_luxury_hr"></div>
            <div class="jet_luxury_text">It’s your favourite drink waiting for you when you arrive back at your seat, or snacks served at just the right time. With one crew member to every six passengers, our Four Seasons trained inflight team takes the time to get to know you, making sure every moment on the Jet is a delight. The Four Seasons Private Jet Journeys are sold and operated by TCS World Travel. Aircraft operated by Titan Airways Limited.</div>
        </div>
        <img src="{% static 'jet_page/51.jpg' %}" alt="" class="jet_luxury_image">
    </div>
    <div class="jet_luxury_box_small">
        <img src="{% static 'jet_page/51.jpg' %}" alt="" class="jet_luxury_image">
        <div class="jet_luxury_content">
            <div class="jet_luxury_title">Always at your service</div>
            <div class="jet_luxury_hr"></div>
            <div class="jet_luxury_text">It’s your favourite drink waiting for you when you arrive back at your seat, or snacks served at just the right time. With one crew member to every six passengers, our Four Seasons trained inflight team takes the time to get to know you, making sure every moment on the Jet is a delight. The Four Seasons Private Jet Journeys are sold and operated by TCS World Travel. Aircraft operated by Titan Airways Limited.</div>
        </div>
    </div>
    <div class="flex_form_box">
        <form class="api_send_form" method="post">
        {% csrf_token %}
            <div class="name_box">
                {{ form.status }}
                {{ form.firstname }}
            </div>
            {{ form.lastname }}
            {{ form.email }}
            <div class="hid">{{ form.reservation }}</div>
            <div class="resident_but_box">
                <button class="resident_button" type="submit">submit</button>
            </div>
        </form>
    </div>
{% endblock %}
