{% extends 'base.html' %}
{% load static %}
{% block title %}Private Jet{% endblock %}
{% block content %}

    <div class="jet_first_content_box">
        <div class="jet_first_title">SAVOUR EACH MOMENT WHILE WE HANDLE THE REST</div>
        <div class="jet_first_text">From itinerary planning and dining reservations to luggage services and visas, we’ll see to it that every detail is taken care of, allowing you to focus on the true joys of travel.</div>
    </div>
    <div class="jet_first_columns_content">
        <div class="jet_first_column">
            <img src="{% static 'jet_page/11.jpg' %}" alt="" class="jet_first_column_image">
            <div class="jet_first_column_title">DOOR-TO-DOOR LUGGAGE</div>
            <div class="jet_first_column_text">Our dedicated Luggage Concierge ensures your suitcases are exactly where you need them to be, without you having to lift a finger.</div>
        </div>
        <div class="jet_first_column">
            <img src="{% static 'jet_page/12.jpg' %}" alt="" class="jet_first_column_image">
            <div class="jet_first_column_title">HASSLE-FREE SECURITY</div>
            <div class="jet_first_column_text">We assist with visas and travel forms, and make clearing security a breeze with private, expedited customs wherever possible.</div>
        </div>
        <div class="jet_first_column">
            <img src="{% static 'jet_page/13.jpg' %}" alt="" class="jet_first_column_image">
            <div class="jet_first_column_title">JOURNEY PHYSICIAN</div>
            <div class="jet_first_column_text">Enjoy peace of mind knowing that if any medical issue should arise throughout the trip, you’ll be under the capable care of a personal on-board doctor.</div>
        </div>
    </div>
    <div class="jet_second_content_box">
        <div class="jet_first_title">ENJOY FOUR SEASONS SERVICE EVERY STEP OF THE WAY</div>
        <div class="jet_first_text">With Four Seasons, no detail goes unnoticed. From perfecting your itinerary to preparing your morning coffee just the way you like it, we take care of it all – allowing you to sit back, relax and enjoy the journey.</div>
    </div>
    <div class="jet_second_columns_content">
        <div class="jet_second_column">
            <img src="{% static 'jet_page/21.jpg' %}" alt="" class="jet_first_column_image">
            <div class="jet_first_column_title">FIVE-STAR DINING</div>
            <div class="jet_first_column_text">When it comes to dining, we’re here to serve – from local restaurant recommendations to personalized in-flight meals to private dining experiences along the way.</div>
        </div>
        <div class="jet_second_column">
            <img src="{% static 'jet_page/22.jpg' %}" alt="" class="jet_first_column_image">
            <div class="jet_first_column_title">HASSLE-FREE SECURITY</div>
            <div class="jet_first_column_text">Be a resident of the world as you glide from one Four Seasons hotel to another, sleeping soundly in the same custom bed every night.</div>
        </div>
    </div>
{% endblock %}
