{% extends 'base.html' %}
{% load static %}
{% block title %}HOTELS AND RESORTS{% endblock %}
{% block content %}
    <div class="maldive_trt_block">
        <div class="maldives_title_block">
            <div class="maldives_title_text">CRUISE INTO A WINTER OF WONDERS IN THE MALDIVES</div>
            <div class="maldives_title_content">Join us for our new Winter of Wonders cruises
                from October 31, 2023 to May 1, 2024, aboard Four Seasons Explorer. Embark upon
                a different adventure each day with endless bucket-list encounters across five
                Maldivian atolls, from coral-ceilinged caves to camera-happy sharks, swim-through
                tunnels to a fish-filled wreck. Dive and snorkel along remote reefs, savour sandbank
                barbecues and indulge in spa treatments on uninhabited island before retiring to
                the sleek, spacious en-suite cabins of our private, three-deck catamaran to prepare
                for a new day of Maldivian magic.</div>
        </div>
    </div>
    <div class="maldive_onboard">
        <div class="maldive_onboard_title">ONBOARD LIVING</div>
        <div class="maldive_onboard_box">
            <div class="maldive_onboard_column">
                <img src="{% static 'maldive_page/MIE_122_original.jpg' %}" alt="" class="maldive_onboard_image">
                <div class="maldive_onboard_column_title">LOUNGE, BARS & DINING</div>
                <div class="maldive_onboard_hr"></div>
                <div class="maldive_onboard_column_content">Relax in the air-conditioned lounge and library. Reflect on the day’s adventures in our two bars – adjacent to the lounge or on the lower sundeck. Laze on vast wooden sundecks. And dine, indoors or out, on exceptional international cuisine and specialty dinners</div>
            </div>
            <div class="maldive_onboard_column">
                <img src="{% static 'maldive_page/MIE_123_original.jpg' %}" alt="" class="maldive_onboard_image">
                <div class="maldive_onboard_column_title">STATE ROOM</div>
                <div class="maldive_onboard_hr"></div>
                <div class="maldive_onboard_column_content">Curl up on the sofa with a drink from your private bar to enjoy a movie after an exciting day, or lie back on the bed and watch the stars twinkle over the ocean from the large port windows in our bright and airy en-suite State Rooms.</div>
            </div>
            <div class="maldive_onboard_column">
                <img src="{% static 'maldive_page/MIE_124_original.jpg' %}" alt="" class="maldive_onboard_image">
                <div class="maldive_onboard_column_title">EXPLORER SUITE</div>
                <div class="maldive_onboard_hr"></div>
                <div class="maldive_onboard_column_content">Wake to sunshine and panoramic ocean views from the wall of windows in this elegant, upper-deck suite – complete with private sundeck – outfitted with contemporary teak furnishings and our signature Four Seasons bed.</div>
            </div>
        </div>
    </div>
    <div class="diving_box">
        <div class="festival_title">WINTER OF WONDERS CRUISES STARTING OCTOBER 31, 2023</div>
        <div class="diving_box_content">
            <div class="diving_box_image">
                <img src="{% static 'maldive_page/MLG_632_original.jpg' %}" alt="">
            </div>
            <div class="diving_box_text">
                <div class="diving_box_title">AQUARIUMS AND CAVES – THREE NIGHTS</div>
                <div class="diving_box_description">Embark on our three-night Winter of Wonders cruise departing from Kuda Huraa to Landaa Giraavaru on Mondays, stopping at dive sites such as the Fares Caves with their soft coral ceilings, the stingray and nudibranch haven of Eboodhoo Cove and the colourful canyons of Muthaafushi Thila along the way.</div>
            </div>
        </div>
        <div class="diving_box_content">
            <div class="diving_box_image">
                <img src="{% static 'maldive_page/MLG_634_original.jpg' %}" alt="">
            </div>
            <div class="diving_box_text">
                <div class="diving_box_title">SHARKS AND A SHIPWRECK – FOUR NIGHTS</div>
                <div class="diving_box_description">Explore the grey-reef-shark hot spot of Rasdhoo Madivaru, the whitetip shark and octopus refuge of Maaya Thila, the whale shark haven of Maamigili Beyru and the cargo hull of the Machafushi Wreck on our four-night Winter of Wonders cruise. The boat sails Thursdays from Landaa Giraavaru to Kuda Huraa.</div>
            </div>
        </div>
        <div class="diving_box_content">
            <div class="diving_box_image">
                <img src="{% static 'maldive_page/MLG_252_original.jpg' %}" alt="">
            </div>
            <div class="diving_box_text">
                <div class="diving_box_title">SEE IT ALL – SEVEN NIGHTS</div>
                <div class="diving_box_description">Who says you can’t have it all? Our seven-night Winter of Wonders adventure combines the three- and four-night itineraries so you can experience the caves, thilas, whale shark hot spots, swim-through tunnels of Kuda Rah Thila and the cultural lure of Dhangethi Island all in one trip. The boat departs Mondays from Kuda Huraa and Thursdays from Landaa Giraavaru.</div>
            </div>
        </div>
    </div>
    <div class="diving_ocean">
        <img src="{% static 'maldive_page/seascape-g89db8206f_1920.jpg' %}" alt="" class="diving_ocean_image">
        <div class="diving_ocean_container">
            <div class="diving_ocean_text">“The thing I like best about the cruise is seeing snorkellers as well as divers get the chance to be inspired by the underwater world through amazing encounters with manta rays, whale sharks and huge pods of dolphins and pilot whales”</div>
            <div class="diving_ocean_author"><b>SHIFAU “SHIPPE” NAEEM</b> CRUISE DIRECTOR</div>
        </div>
    </div>
{% endblock %}
