{% extends 'base.html' %}
{% load static %}
{% block title %}Check Rates{% endblock %}
{% block content %}
    <form method="post" class="rate_form">
    {% csrf_token %}
        {{ errors }}
        <div class="rates_first_name_block">
            <p class="rates_first_name">First Name</p>
            {{ form.firstname }}
        </div>
        <div class="rates_second_name_block">
            <p class="rates_second_name">Last Name</p>
            {{ form.lastname }}
        </div>
        <div class="rates_second_name_block">
            <p class="rates_second_name">Phone Number</p>
            {{ form.phone }}
        </div>
        <div class="rates_passengers_box">
            Passengers
            <div class="passengers_list">
                <div class="rates_adult_box">
                    <div class="rates_adult_text">Adults</div>
                    <div class="rates_count_box">
                        <div class="rates_minus">-</div>
                        <div class="rates_count">1</div>
                        {{ form.adult }}
                        <div class="rates_plus">+</div>
                    </div>
                </div>
                <div class="rates_adult_box">
                    <div class="rates_adult_text">Children</div>
                    <div class="rates_count_box">
                        <div class="rates_minus_child">-</div>
                        <div class="rates_count_child">0</div>
                        {{ form.children }}
                        <div class="rates_plus_child">+</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rates_date_box">
            <div class="rate_date_box_content">
                <div class="rate_date_text">Check - in</div>
                {{ form.start }}
            </div>
            <div class="rate_date_box_content">
                <div class="rate_date_text">Check - out</div>
                {{ form.end }}
            </div>
        </div>
        <button type="submit" class="rates_button">Submit</button>
    </form>
    <script src="{% static 'js/air-datepicker.js' %}"></script>
    <script>
        {#document.querySelector('.rates_button').textContent = new Date()#}
        let start = new AirDatepicker('.rates_start_date', {
            locale: {
              days: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
              daysShort: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
              daysMin: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
              months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
              monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
              today: 'Today',
              clear: 'Clear',
              dateFormat: 'dd/MM/yyyy',
              timeFormat: 'hh:mm aa',
              firstDay: 0
            },
            minDate: new Date(),
            onSelect({date}) {
                let nextDay = new Date(date.getTime() + 24 * 60 * 60 * 1000);
                end.update({
                    minDate: nextDay,
                })
            },
        })
        let end = new AirDatepicker('.rates_end_date', {
            locale: {
              days: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
              daysShort: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
              daysMin: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
              months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
              monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
              today: 'Today',
              clear: 'Clear',
              dateFormat: 'dd/MM/yyyy',
              timeFormat: 'hh:mm aa',
              firstDay: 0
            },
            onSelect({date}) {
                start.update({
                    minDate: date
                })
                start.selectDate();
            }
        })
    </script>
{% endblock %}
